<th:block th:fragment="footer">
    <footer id="footer">
        <div class="footer-section">
            <div class="container">
                <div class="footer-section-wishlist">
                    <div class="footer-section-wishlist-item">
                        <h2>Chăm sóc khách hàng</h2>
                        <ul class="footer-nav">
                            <li><a href="#">Trung tâm trợ giúp</a></li>
                            <li><a href="#">Shopee Blog</a></li>
                            <li><a href="#">Shopee Mall</a></li>
                            <li><a href="#">Hướng Dẫn Mua Hàng</a></li>
                            <li><a href="#">Hướng Dẫn Bán Hàng</a></li>
                            <li><a href="#">Thanh toán</a></li>
                            <li><a href="#">Shopee Xu</a></li>
                            <li><a href="#">Vận chuyển</a></li>
                            <li><a href="#">Trả Hàng & Hoàn Tiền</a></li>
                            <li><a href="#">Chăm Sóc Khách Hàng</a></li>
                            <li><a href="#">Chính Sách Bảo Hành</a></li>
                        </ul>
                    </div>
                    <div class="footer-section-wishlist-item">
                        <h2>Về shopee</h2>
                        <ul class="footer-nav">
                            <li><a href="#">Giới Thiệu Về Shopee Việt Nam</a></li>
                            <li><a href="#">Tuyển Dụng</a></li>
                            <li><a href="#">Điều Khoản Shopee</a></li>
                            <li><a href="#">Chính Sách Bảo Mật</a></li>
                            <li><a href="#">Chính Hãng</a></li>
                            <li><a href="#">Flash Sales</a></li>
                            <li><a href="#">Chương Trình Tiếp Thị Liên Kết Shopee</a></li>
                            <li><a href="#">Liên Hệ Với Truyền Thông</a></li>
                        </ul>
                    </div>
                    <div class="footer-section-wishlist-item">
                        <h2>Thanh toán</h2>
                        <ul class="payment-list">
                            <li class="payment-item">
                                <div class="payment-item-bg payment-item-visa"></div>
                            </li>
                            <li class="payment-item">
                                <div class="payment-item-bg payment-item-mastercard"></div>
                            </li>
                            <li class="payment-item">
                                <div class="payment-item-bg payment-item-jcb"></div>
                            </li>
                            <li class="payment-item">
                                <div class="payment-item-bg payment-item-amex"></div>
                            </li>
                            <li class="payment-item">
                                <div class="payment-item-bg payment-item-cod"></div>
                            </li>
                            <li class="payment-item">
                                <div class="payment-item-bg payment-item-installment"></div>
                            </li>
                            <li class="payment-item">
                                <div class="payment-item-bg payment-item-airpay"></div>
                            </li>
                        </ul>
                        <h2>Đơn vị vận chuyển</h2>
                        <ul class="transport-list">
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-shopee-express"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-ghtk"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-ghn"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-viettel-post"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-vnpost"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-jnt"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-grab-express"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-now"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-ninja-van"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-best-express"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-section-wishlist-item">
                        <h2>Theo dõi chúng tôi trên</h2>
                        <a href="#"><i class="fab fa-facebook"></i>Facebook</a>
                        <a href="#"><i class="fab fa-instagram-square"></i>Instagram</a>
                        <a href="#"><i class="fab fa-linkedin"></i>LinkedIn</a>
                    </div>
                    <div class="footer-section-wishlist-item">
                        <h2>Tải ứng dụng shopee ngay thôi</h2>
                        <div class="footer-section-wishlist-item--down">
                            <img src="image/button/qr.png" alt="image"/>
                            <div class="footer-section-wishlist-item--down-com">
                                <a href="#"><img src="image/button/appstore.png" alt="App Store"/></a>
                                <a href="#"><img src="image/button/google_play.png" alt="App Store"/></a>
                                <a href="#"><img src="image/button/huawei.png" alt="App Store"/></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-section-copyright">
                    <div class="footer-section-copyright-item">
                        <p>© 2021 Shopee. Tất cả các quyền được bảo lưu.</p>
                    </div>
                    <div class="footer-section-copyright-item">
                        <p>Quốc gia & Khu vực:</p>
                        <a href="#">Singapore</a>
                        <a href="#">Indonesia</a>
                        <a href="#">Đài Loan</a>
                        <a href="#">Thái Lan</a>
                        <a href="#">Malaysia</a>
                        <a href="#">Việt Nam</a>
                        <a href="#">Phillippines</a>
                        <a href="#">Brazil</a>
                        <a href="#">México</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-address">
            <div class="container">
                <div class="footer-address-nav">
                    <div class="footer-address-nav-item">
                        <a href="#">Chính sách bảo mật</a>
                    </div>
                    <div class="footer-address-nav-item">
                        <a href="#">Quy chế hoạt động</a>
                    </div>
                    <div class="footer-address-nav-item">
                        <a href="#">Chính sách vận chuyển</a>
                    </div>
                    <div class="footer-address-nav-item">
                        <a href="#">Chính sách trả hàng và hoàn tiền</a>
                    </div>
                </div>
                <div class="footer-address-logo">
                    <a href="#">
                        <div class="footer-address-logo-bg footer-address-logo-registered"></div>
                    </a>
                    <a href="#">
                        <div class="footer-address-logo-bg footer-address-logo-registered"></div>
                    </a>
                    <a href="#">
                        <div class="footer-address-logo-bg footer-address-logo-no-fake-item"></div>
                    </a>
                </div>
                <h2>Công ty TNHH Shopee</h2>
                <p>Địa chỉ: Tầng 28, Tòa nhà trung tâm Lotte Hà Nội, 54 Liễu Giai, phường Cống Vị, Quận Ba Đình, Hà Nội.
                    Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.shopee.vn</p>
                <p>Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015</p>
                <p>© 2015 - Bản quyền thuộc về Công ty TNHH Shopee</p>
            </div>
        </div>
    </footer>
</th:block>
