<th:block th:fragment="footer">
    <footer id="footer">
        <div class="footer-section">
            <div class="container">
                <div class="footer-section-wishlist">
                    <div class="footer-section-wishlist-item">
                        <h2>Customer Care</h2>
                        <ul class="footer-nav">
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">MultiVendors Blog</a></li>
                            <li><a href="#">MultiVendors Mall</a></li>
                            <li><a href="#">Shopping Guide</a></li>
                            <li><a href="#">Selling Guide</a></li>
                            <li><a href="#">Payment</a></li>
                            <li><a href="#">MultiVendors Coins</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Returns & Refunds</a></li>
                            <li><a href="#">Customer Service</a></li>
                            <li><a href="#">Warranty Policy</a></li>
                        </ul>
                    </div>
                    <div class="footer-section-wishlist-item">
                        <h2>About MultiVendors</h2>
                        <ul class="footer-nav">
                            <li><a href="#">Introduction to MultiVendors Vietnam</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">MultiVendors Terms</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Authenticity Guarantee</a></li>
                            <li><a href="#">Flash Sales</a></li>
                            <li><a href="#">MultiVendors Affiliate Program</a></li>
                            <li><a href="#">Media Contact</a></li>
                        </ul>
                    </div>
                    <div class="footer-section-wishlist-item">
                        <h2>Payment Methods</h2>
                        <ul class="payment-list">
                            <li class="payment-item">
                                <div class="payment-item-bg payment-item-visa"></div>
                            </li>
                            <li class="payment-item">
                                <div class="payment-item-bg payment-item-mastercard"></div>
                            </li>
                            <li class="payment-item">
                                <div class="payment-item-bg payment-item-jcb"></div>
                            </li>
                            <li class="payment-item">
                                <div class="payment-item-bg payment-item-amex"></div>
                            </li>
                            <li class="payment-item">
                                <div class="payment-item-bg payment-item-cod"></div>
                            </li>
                            <li class="payment-item">
                                <div class="payment-item-bg payment-item-installment"></div>
                            </li>
                            <li class="payment-item">
                                <div class="payment-item-bg payment-item-airpay"></div>
                            </li>
                        </ul>
                        <h2>Shipping Partners</h2>
                        <ul class="transport-list">
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-multivendors-express"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-ghtk"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-ghn"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-viettel-post"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-vnpost"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-jnt"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-grab-express"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-now"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-ninja-van"></div>
                            </li>
                            <li class="transport-item">
                                <div class="transport-item-bg transport-item-best-express"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-section-wishlist-item">
                        <h2>Follow us on</h2>
                        <a href="#"><i class="fab fa-facebook"></i>Facebook</a>
                        <a href="#"><i class="fab fa-instagram-square"></i>Instagram</a>
                        <a href="#"><i class="fab fa-linkedin"></i>LinkedIn</a>
                    </div>
                    <div class="footer-section-wishlist-item">
                        <h2>Download the MultiVendors app now</h2>
                        <div class="footer-section-wishlist-item--down">
                            <img th:src="@{/image/button/qr.png}" alt="QR code" />
                            <div class="footer-section-wishlist-item--down-com">
                                <a href="#"><img th:src="@{/image/button/appstore.png}" alt="App Store" /></a>
                                <a href="#"><img th:src="@{/image/button/google_play.png}" alt="Google Play" /></a>
                                <a href="#"><img th:src="@{/image/button/huawei.png}" alt="Huawei" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-section-copyright">
                    <div class="footer-section-copyright-item">
                        <p>© 2021 MultiVendors. All rights reserved.</p>
                    </div>
                    <div class="footer-section-copyright-item">
                        <p>Countries & Regions:</p>
                        <a href="#">Singapore</a>
                        <a href="#">Indonesia</a>
                        <a href="#">Taiwan</a>
                        <a href="#">Thailand</a>
                        <a href="#">Malaysia</a>
                        <a href="#">Vietnam</a>
                        <a href="#">Philippines</a>
                        <a href="#">Brazil</a>
                        <a href="#">Mexico</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-address">
            <div class="container">
                <div class="footer-address-nav">
                    <div class="footer-address-nav-item">
                        <a href="#">Privacy Policy</a>
                    </div>
                    <div class="footer-address-nav-item">
                        <a href="#">Terms of Use</a>
                    </div>
                    <div class="footer-address-nav-item">
                        <a href="#">Shipping Policy</a>
                    </div>
                    <div class="footer-address-nav-item">
                        <a href="#">Return & Refund Policy</a>
                    </div>
                </div>
                <div class="footer-address-logo">
                    <a href="#">
                        <div class="footer-address-logo-bg footer-address-logo-registered"></div>
                    </a>
                    <a href="#">
                        <div class="footer-address-logo-bg footer-address-logo-registered"></div>
                    </a>
                    <a href="#">
                        <div class="footer-address-logo-bg footer-address-logo-no-fake-item"></div>
                    </a>
                </div>
                <h2>MultiVendors Co., Ltd.</h2>
                <p>Address: 28th Floor, Lotte Center Hanoi, 54 Lieu Giai, Cong Vi Ward, Ba Dinh District, Hanoi. Support Hotline: 19001221 - Email: support@multivendors.com</p>
                <p>Business Registration Number: 0106773786 issued by Hanoi Department of Planning and Investment on 10/02/2015</p>
                <p>© 2015 - Copyright belongs to MultiVendors Co., Ltd.</p>
            </div>
        </div>
    </footer>
</th:block>
