<!-- navbar-admin.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments</title>
</head>

<body>
<!-- Định nghĩa fragment "navbar" -->
<th:block th:fragment="header">
    <header id="header">
        <div class="header-inner">
            <div class="header-navbar-wrapper">
                <ul class="header-navbar-left">
                    <li><a href="#">Kênh Người Bán</a></li>
                    <li><a href="#">Trở thành Người bán Shopee</a></li>
                    <li><a href="#">Tải ứng dụng</a></li>
                    <li><a href="#">Kết nối</a></li>
                    <li>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
                <ul class="header-navbar-right">
                    <li><a href="#"><i class="far fa-bell"></i>Thông Báo</a></li>
                    <li><a href="#"><i class="far fa-question-circle"></i>Hỗ Trợ</a></li>
                    <!-- Đăng ký / Đăng nhập -->
                    <li th:if="${#authorization.expression('isAnonymous()')}">
                        <a th:href="@{/register}">Đăng Ký</a>
                    </li>
                    <li th:if="${#authorization.expression('isAnonymous()')}">
                        <a th:href="@{/login}">Đăng Nhập</a>
                    </li>

                    <!-- Đã đăng nhập -->
                    <li th:if="${#authorization.expression('isAuthenticated()')}" class="user">
                        <a href="#">Xin chào, <span th:text="${#authentication.principal.username}"></span></a>

                        <a href="#" class="dropdown-toggle">
                            <div class="user-avt">
                                <img src="https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg"
                                     alt="avt"/>
                            </div>
                        </a>
                        <div class="dropdown-menu show">
                            <a href="#" class="dropdown-item">Tài khoản của tôi</a>
                            <a href="#" class="dropdown-item">Đơn mua</a>
                            <a href="#" class="dropdown-item">Đổi mật khẩu</a>
                            <a th:href="@{/logout}" class="dropdown-item">Đăng xuất</a>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="header-with-search">
                <a th:href="@{/}" class="header-with-search__logo"><img th:src="@{/image/logo/shopee-logo.png}"
                                                                        alt="logo"/></a>
                <div class="header-with-search__section">
                    <div class="shopee-searchbar">
                        <form th:action="@{/list}" method="get">
                            <input type="text" name="keyword" placeholder="Tìm kiếm sản phẩm"/>
                            <button type="submit" name="search"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <a th:href="@{/cart}" class="header-with-search__cart"><i class="fas fa-cart-plus"></i></a>
            </div>
        </div>
    </header>
</th:block>
</body>
</html>
