<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Shopee Việt Nam | Mua và Bán Trên Ứng Dụng Di Động hoặc Website</title>
    <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    />
    <link
            rel="stylesheet"
            href="style/fontawesome-free-5.15.3-web/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" th:href="@{/style/reset.css}"/>
    <link rel="stylesheet" th:href="@{/style/style.css}"/>
</head>
<body>

<header id="header" class="header-cart-page">
    <div class="header-inner">
        <div class="header-navbar-wrapper">
            <ul class="header-navbar-left">
                <li><a href="#">Kênh Người Bán</a></li>
                <li><a href="#">Tải ứng dụng</a></li>
                <li><a href="#">Kết nối</a></li>
                <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
            <ul class="header-navbar-right">
                <li><a href="#"><i class="far fa-bell"></i>Thông Báo</a></li>
                <li><a href="#"><i class="far fa-question-circle"></i>Hỗ Trợ</a></li>

                <!-- Đăng ký / Đăng nhập -->
                <li th:if="${#authorization.expression('isAnonymous()')}">
                    <a th:href="@{/register}">Đăng Ký</a>
                </li>
                <li th:if="${#authorization.expression('isAnonymous()')}">
                    <a th:href="@{/login}">Đăng Nhập</a>
                </li>

                <!-- Đã đăng nhập -->
                <li th:if="${#authorization.expression('isAuthenticated()')}" class="user">
                    <a href="#">Xin chào, <span th:text="${#authentication.principal.username}"></span></a>

                    <a href="#" class="dropdown-toggle">
                        <div class="user-avt">
                            <img src="https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg"
                                 alt="avt"/>
                        </div>
                    </a>
                    <div class="dropdown-menu show">
                        <a href="#" class="dropdown-item">Tài khoản của tôi</a>
                        <a href="#" class="dropdown-item">Đơn mua</a>
                        <a href="#" class="dropdown-item">Đổi mật khẩu</a>
                        <a th:href="@{/logout}" class="dropdown-item">Đăng xuất</a>
                    </div>
                </li>

            </ul>

        </div>
    </div>
</header>

<section id="banners">
    <div class="container">
        <div class="banners-inner">
            <div class="banners-section">
                <div class="banners-slider">
                    <img th:src="@{/slider/5.png}" alt="slider"/>
                    <img th:src="@{/slider/6.png}" alt="slider"/>
                    <img th:src="@{/slider/13.png}" alt="slider"/>
                    <img th:src="@{/slider/14.png}" alt="slider"/>
                </div>

                <ul class="banners-list">
                    <li><a href="#"><img th:src="@{/image/banner/1.jfif}" alt="banner"/></a></li>
                    <li><a href="#"><img th:src="@{/image/banner/2.jfif}" alt="banner"/></a></li>
                </ul>
            </div>

            <div class="banners-nav">
                <a href="#"><img th:src="@{/image/nav/1.gif}" alt="image"/>Khung Giờ Săn Sale</a>
                <a href="#"><img th:src="@{/image/nav/2.png}" alt="image"/>Gì Cũng Rẻ - Từ 1K</a>
                <a href="#"><img th:src="@{/image/nav/3.png}" alt="image"/>Hàng Quốc Tế</a>
                <a href="#"><img th:src="@{/image/nav/4.png}" alt="image"/>Nạp Thẻ, Dịch Vụ & Phim</a>
                <a href="#"><img th:src="@{/image/nav/5.png}" alt="image"/>Shopee Mart - Siêu Thị 0Đ</a>
                <a href="#"><img th:src="@{/image/nav/6.png}" alt="image"/>Freeship Xtra</a>
                <a href="#"><img th:src="@{/image/nav/7.png}" alt="image"/>Tech Zone - Siêu Thị Điện Tử</a>
                <a href="#"><img th:src="@{/image/nav/8.png}" alt="image"/>Hoàn Xu Xtra</a>
                <a href="#"><img th:src="@{/image/nav/9.png}" alt="image"/>Hàng Hiệu -50%</a>
                <a href="#"><img th:src="@{/image/nav/10.png}" alt="image"/>Shopee Premium</a>
            </div>
        </div>
    </div>
</section>

<section id="welcome-banner">
    <div class="container">
        <img th:src="@{/image/banner/3.png}" alt="banner"/>
    </div>
</section>

<section id="popular">
    <div class="container">
        <div class="popular-banner">
            <img th:src="@{/image/banner/4a.jfif}" alt="banner"/>
        </div>

        <div class="popular-section">
            <div class="popular-section-wrapper">
                <div class="popular-product">
                    <div class="popular-product__title">
                        <h3>Sản phẩm bán chạy</h3>
                        <a th:href="@{/pagebestseller}">Xem Thêm <span>></span></a>
                    </div>
                    <div class="popular-product__list">
                        <p class="none-item">Hiện Không Có Sản Phẩm Nổi Bật</p>
                    </div>
                </div>

                <div class="popular-brand">
                    <div class="popular-brand__title">
                        <h3>Sản phẩm nổi bật</h3>
                        <a th:href="@{/pagepopular}">Xem Thêm <span>></span></a>
                    </div>
                    <div class="popular-brand__list">
                        <p class="none-item">Hiện Không Có Sản Phẩm Nổi Bật</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="popular-banner">
            <img th:src="@{/image/banner/4b.jfif}" alt="banner"/>
        </div>
    </div>
</section>

<section id="category">
    <div class="container">
        <div class="category-inner">
            <div class="category-title">
                <h3>Danh mục</h3>
            </div>
            <div class="category-list">
                <div class="category-list-wrapper">
                    <ul>
                        <li class="category-item">
                            <a th:href="@{/pageproductbycat(categoryID=1)}">
                                <img src="https://cdn-icons-png.flaticon.com/512/869/869636.png" alt="category"/>
                                <p>Điện thoại</p>
                            </a>
                        </li>
                        <li class="category-item">
                            <a th:href="@{/pageproductbycat(categoryID=2)}">
                                <img src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png" alt="category"/>
                                <p>Thời trang</p>
                            </a>
                        </li>
                        <li class="category-item">
                            <a th:href="@{/pageproductbycat(categoryID=3)}">
                                <img src="https://cdn-icons-png.flaticon.com/512/1046/1046857.png" alt="category"/>
                                <p>Đồ điện tử</p>
                            </a>
                        </li>
                        <li class="category-item">
                            <a th:href="@{/pageproductbycat(categoryID=4)}">
                                <img src="https://cdn-icons-png.flaticon.com/512/2331/2331970.png" alt="category"/>
                                <p>Gia dụng</p>
                            </a>
                        </li>
                        <li class="category-item">
                            <a th:href="@{/pageproductbycat(categoryID=5)}">
                                <img src="https://cdn-icons-png.flaticon.com/512/1903/1903162.png" alt="category"/>
                                <p>Sức khỏe</p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="carousel-arrow--prev">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="carousel-arrow--next">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="voucher">
    <div class="container">
        <div class="voucher-inner">
            <div class="voucher-item">
                <img th:src="@{/image/banner/5.png}" alt="voucher"/>
            </div>
            <div class="voucher-item">
                <img th:src="@{/image/banner/6.jfif}" alt="voucher"/>
            </div>
            <div class="voucher-item">
                <img th:src="@{/image/banner/7.jfif}" alt="voucher"/>
            </div>
        </div>
    </div>
</section>

<main id="main">
    <div class="container">
        <div class="main-title">
            <h3>Gợi ý hôm nay</h3>
            <div class="main-title-banner">
                <img th:src="@{/image/banner/8.png}" alt="banner"/>
            </div>
        </div>

        <div class="main-list">
            <div class="main-list-wrapper">
                <p class="none-item">Hiện chưa có sản phẩm nào để hiển thị.</p>
            </div>

            <div class="btn btn-more">
                <a href="#">Xem Thêm</a>
            </div>
        </div>
    </div>
</main>


<footer id="footer">
    <div class="footer-contentinfo">
        <div class="container">
            <h2>SHOPEE - GÌ CŨNG CÓ, MUA HẾT Ở SHOPEE</h2>
            <p>Shopee - ứng dụng mua sắm trực tuyến thú vị, tin cậy, an toàn và miễn phí! Shopee là nền tảng giao dịch
                trực tuyến hàng đầu ở Đông Nam Á, Việt Nam, <span>Singapore, Malaysia, Indonesia, Thái Lan, Philipin, Đài loan</span>
                và <span>Brazil.</span> Với sự đảm bảo của Shopee, bạn sẽ mua hàng trực tuyến an tâm và nhanh chóng hơn
                bao giờ hết!</p>
            <br/>
            <h2>MUA SẮM VÀ BÁN HÀNG ONLINE ĐƠN GIẢN, NHANH CHÓNG VÀ AN TOÀN</h2>
            <p>Nếu bạn đang tìm kiếm một trang web để mua và bán hàng trực tuyến thì Shopee.vn là một sự lựa chọn tuyệt
                vời dành cho bạn. Bản chất của Shopee là một social E-commerce platform - nền tảng trang web <span>thương mại điện tử</span>
                tích hợp mạng xã hội. Điều này cho phép người mua và người bán hàng dễ dàng tương tác, trao đổi thông
                tin về sản phẩm và chương trình khuyến mãi của shop. Nhờ nền tảng đó, việc mua bán trên Shopee trở nên
                nhanh chóng và đơn giản hơn. Bạn có thể trò chuyện trực tiếp với nhà bán hàng để hỏi trực tiếp về mặt
                hàng cần mua. Còn nếu bạn muốn tìm mua những dòng sản phẩm chính hãng, uy tín, <span>Shopee Mall</span>
                chính là sự lựa chọn lí tưởng dành cho bạn. Đến với Shopee, cơ hội để trở thành một nhà bán hàng dễ dàng
                hơn bao giờ hết. Chỉ với vài thao tác trên ứng dụng, bạn đã có thể đăng bán ngay những sản phẩm của
                mình. Không những thế, các nhà bán hàng có thể tùy chọn các <span>tính năng “Shop tạm nghỉ”</span> hoặc
                tự <span>tạo chương trình khuyến mãi trên Shopee</span> để thu hút người mua với những sản phẩm có mức
                giá hấp dẫn. Khi đăng nhập tại Shopee Kênh người bán, bạn có thể dễ dàng
                <span>phân loại sản phẩm,</span> theo dõi đơn hàng, chăm sóc khách hàng và cập nhập ngay các hoạt động
                của shop.</p>
            <br/>
            <h2>TẢI ỨNG DỤNG SHOPEE NGAY ĐỂ MUA BÁN ONLINE MỌI LÚC, MỌI NƠI</h2>
            <p>Ưu điểm của ứng dụng Shopee là cho phép bạn mua và bán hàng mọi lúc, mọi nơi. Bạn có thể tải ứng dụng
                Shopee cũng như đăng sản phẩm bán hàng một cách nhanh chóng và tiện lợi. Ngoài ra, ứng dụng Shopee còn
                có những ưu điểm sau: - Giao diện thân thiện, đơn giản, dễ sử dụng. Bạn sẽ dễ dàng thấy được ngay những
                sản phẩm nổi bật cũng như dễ dàng tìm đến các ô tìm kiếm, giỏ hàng hoặc tính năng chat liền tay. - Ứng
                dụng tích hợp công nghệ quản lý đơn mua và bán hàng tiện lợi trên cùng một tài khoản. Bạn sẽ vừa là
                người mua hàng, vừa là người bán hàng rất linh hoạt, dễ dàng. - Cập nhập thông tin khuyến mãi, <span>Shopee flash sale</span>
                nhanh chóng và liên tục. Tại Shopee, bạn có thể lấy các <span>mã giảm giá Shopee</span> và <span>mã miễn phí vận chuyển toàn quốc.</span>
                Bên cạnh đó, Shopee cũng sẽ có những chiến dịch khuyến mãi lớn hằng năm như <span>Siêu hội mua sắm 4.4, Shopee 9.9 sale, Shopee 10.10 sale, Shopee 11.11 sale, Shopee 12.12 sale, Shopee Tết Sale.</span>
                Đây là thời điểm để người mua hàng có thể nhanh tay chọn ngay cho mình những mặt hàng ưa thích với mức
                giá giảm kỉ lục.</p>
            <br/>
            <h2>MUA HÀNG HIỆU CAO CẤP GIÁ TỐT TẠI SHOPEE</h2>
            <p>Bên cạnh <span>Shopee Premium</span>, Shopee còn có rất nhiều khuyến mãi khủng cho <span>hàng hiệu giảm đến 50%.</span>
                Cộng với mã giao hàng miễn phí, Shopee cũng có các mã giảm giá được phân phối mỗi tháng từ rất nhiều
                gian hàng chính hãng tham gia chương trình khuyến mãi này. Bên cạnh đó, Shopee còn tập hợp rất nhiều
                thương hiệu đình đám được các nhà bán lẻ uy tín phân phối bán trên Shopee, đem đến cho bạn sự lựa chọn
                đa dạng, từ các hãng mỹ phẩm nổi tiếng hàng đầu như <span>Kiehl's, Fresh, The Ordinary, Foreo, Transino, SK-II</span>...
                Đến những thương hiệu công nghệ nổi tiếng như <span>camera hành trình Gopro, loa Marshall, bảng vẽ điện tử Huion, máy quay DJI Osmo Pocket, loa Harman Kardon, Razer</span>...
            </p>
            <br/>
            <h2>MUA HÀNG CHÍNH HÃNG TỪ CÁC THƯƠNG HIỆU LỚN VỚI SHOPEE</h2>
            <p>Mua hàng trên Shopee luôn là một trải nghiệm ấn tượng. Dù bạn đang có nhu cầu mua bất kỳ mặt hàng <span>thời trang nam, thời trang nữ, đồng hồ, điện thoại, nước rửa tay khô</span>
                hay <span>khẩu trang N95</span> thì Shopee cũng sẽ đảm bảo cung cấp cho bạn những sản phẩm ưng ý. Bên
                cạnh đó, Shopee cũng có sự tham gia của các thương hiệu hàng đầu thế giới ở đa dạng nhiều lĩnh vực khác
                nhau. Trong đó có thể kể đến Samsung, OPPO, Xiaomi, Innisfree, Unilever, P&G, Biti’s,...Các thương hiệu
                này hiện cũng đã có cửa hàng chính thức trên Shopee Mall với hàng trăm mặt hàng chính hãng, được cập
                nhập liên tục. Là một kênh bán hàng uy tín, Shopee luôn cam kết mang lại cho khách hàng những trải
                nghiệm mua sắm online giá rẻ, an toàn và tin cậy. Mọi thông tin về người bán và người mua đều được bảo
                mật tuyệt đối. Các hoạt động giao dịch thanh toán tại Shopee luôn được đảm bảo diễn ra nhanh chóng, an
                toàn. Một vấn đề nữa khiến cho các khách hàng luôn quan tâm đó chính là mua hàng trên Shopee có đảm bảo
                không. Shopee luôn cam kết mọi sản phẩm trên Shopee, đặc biệt là Shopee Mall đều là những sản phẩm chính
                hãng, đầy đủ tem nhãn, bảo hành từ nhà bán hàng. Ngoài ra, Shopee bảo vệ người mua và người bán bằng
                cách giữ số tiền giao dịch đến khi người mua xác nhận đồng ý với đơn hàng và không có yêu cầu khiếu nại,
                trả hàng hay hoàn tiền nào. Thanh toán sau đó sẽ được chuyển đến cho người bán. Đến với Shopee ngay hôm
                nay để mua hàng online giá rẻ và trải nghiệm dịch vụ chăm sóc khách hàng tuyệt vời tại đây. Đặc biệt khi
                mua sắm trên Shopee Mall, bạn sẽ được miễn phí vận chuyển, giao hàng tận nơi và 7 ngày miễn phí trả
                hàng. Ngoài ra, khách hàng có thể sử dụng <span>Shopee Xu</span> để đổi lấy mã giảm giá có giá trị cao
                và voucher dịch vụ hấp dẫn. Tiếp đến là <span>Shopee Mum's Club, Shopee Beauty Club</span> và <span>Shopee Book Club</span>
                với các ưu đãi độc quyền từ các thương hiệu lớn có những khách hàng đã đăng ký làm thành viên. Hãy truy
                cập ngay Shopee.vn hoặc tải ngay ứng dụng Shopee về điện thoại ngay hôm nay!</p>
        </div>
    </div>
    <div class="footer-section">
        <div class="container">
            <div class="footer-section-wishlist">
                <div class="footer-section-wishlist-item">
                    <h2>Chăm sóc khách hàng</h2>
                    <ul class="footer-nav">
                        <li><a href="#">Trung tâm trợ giúp</a></li>
                        <li><a href="#">Shopee Blog</a></li>
                        <li><a href="#">Shopee Mall</a></li>
                        <li><a href="#">Hướng Dẫn Mua Hàng</a></li>
                        <li><a href="#">Hướng Dẫn Bán Hàng</a></li>
                        <li><a href="#">Thanh toán</a></li>
                        <li><a href="#">Shopee Xu</a></li>
                        <li><a href="#">Vận chuyển</a></li>
                        <li><a href="#">Trả Hàng & Hoàn Tiền</a></li>
                        <li><a href="#">Chăm Sóc Khách Hàng</a></li>
                        <li><a href="#">Chính Sách Bảo Hành</a></li>
                    </ul>
                </div>
                <div class="footer-section-wishlist-item">
                    <h2>Về shopee</h2>
                    <ul class="footer-nav">
                        <li><a href="#">Giới Thiệu Về Shopee Việt Nam</a></li>
                        <li><a href="#">Tuyển Dụng</a></li>
                        <li><a href="#">Điều Khoản Shopee</a></li>
                        <li><a href="#">Chính Sách Bảo Mật</a></li>
                        <li><a href="#">Chính Hãng</a></li>
                        <li><a href="#">Kênh Người Bán</a></li>
                        <li><a href="#">Flash Sales</a></li>
                        <li><a href="#">Chương Trình Tiếp Thị Liên Kết Shopee</a></li>
                        <li><a href="#">Liên Hệ Với Truyền Thông</a></li>
                    </ul>
                </div>
                <div class="footer-section-wishlist-item">
                    <h2>Thanh toán</h2>
                    <ul class="payment-list">
                        <li class="payment-item">
                            <div class="payment-item-bg payment-item-visa"></div>
                        </li>
                        <li class="payment-item">
                            <div class="payment-item-bg payment-item-mastercard"></div>
                        </li>
                        <li class="payment-item">
                            <div class="payment-item-bg payment-item-jcb"></div>
                        </li>
                        <li class="payment-item">
                            <div class="payment-item-bg payment-item-amex"></div>
                        </li>
                        <li class="payment-item">
                            <div class="payment-item-bg payment-item-cod"></div>
                        </li>
                        <li class="payment-item">
                            <div class="payment-item-bg payment-item-installment"></div>
                        </li>
                        <li class="payment-item">
                            <div class="payment-item-bg payment-item-airpay"></div>
                        </li>
                    </ul>
                    <h2>Đơn vị vận chuyển</h2>
                    <ul class="transport-list">
                        <li class="transport-item">
                            <div class="transport-item-bg transport-item-shopee-express"></div>
                        </li>
                        <li class="transport-item">
                            <div class="transport-item-bg transport-item-ghtk"></div>
                        </li>
                        <li class="transport-item">
                            <div class="transport-item-bg transport-item-ghn"></div>
                        </li>
                        <li class="transport-item">
                            <div class="transport-item-bg transport-item-viettel-post"></div>
                        </li>
                        <li class="transport-item">
                            <div class="transport-item-bg transport-item-vnpost"></div>
                        </li>
                        <li class="transport-item">
                            <div class="transport-item-bg transport-item-jnt"></div>
                        </li>
                        <li class="transport-item">
                            <div class="transport-item-bg transport-item-grab-express"></div>
                        </li>
                        <li class="transport-item">
                            <div class="transport-item-bg transport-item-now"></div>
                        </li>
                        <li class="transport-item">
                            <div class="transport-item-bg transport-item-ninja-van"></div>
                        </li>
                        <li class="transport-item">
                            <div class="transport-item-bg transport-item-best-express"></div>
                        </li>
                    </ul>
                </div>
                <div class="footer-section-wishlist-item">
                    <h2>Theo dõi chúng tôi trên</h2>
                    <a href="#"><i class="fab fa-facebook"></i>Facebook</a>
                    <a href="#"><i class="fab fa-instagram-square"></i>Instagram</a>
                    <a href="#"><i class="fab fa-linkedin"></i>LinkedIn</a>
                </div>
                <div class="footer-section-wishlist-item">
                    <h2>Tải ứng dụng shopee ngay thôi</h2>
                    <div class="footer-section-wishlist-item--down">
                        <img src="image/button/qr.png" alt="image"/>
                        <div class="footer-section-wishlist-item--down-com">
                            <a href="#"><img src="image/button/appstore.png" alt="App Store"/></a>
                            <a href="#"><img src="image/button/google_play.png" alt="App Store"/></a>
                            <a href="#"><img src="image/button/huawei.png" alt="App Store"/></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-section-copyright">
                <div class="footer-section-copyright-item">
                    <p>© 2021 Shopee. Tất cả các quyền được bảo lưu.</p>
                </div>
                <div class="footer-section-copyright-item">
                    <p>Quốc gia & Khu vực:</p>
                    <a href="#">Singapore</a>
                    <a href="#">Indonesia</a>
                    <a href="#">Đài Loan</a>
                    <a href="#">Thái Lan</a>
                    <a href="#">Malaysia</a>
                    <a href="#">Việt Nam</a>
                    <a href="#">Phillippines</a>
                    <a href="#">Brazil</a>
                    <a href="#">México</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-address">
        <div class="container">
            <div class="footer-address-nav">
                <div class="footer-address-nav-item">
                    <a href="#">Chính sách bảo mật</a>
                </div>
                <div class="footer-address-nav-item">
                    <a href="#">Quy chế hoạt động</a>
                </div>
                <div class="footer-address-nav-item">
                    <a href="#">Chính sách vận chuyển</a>
                </div>
                <div class="footer-address-nav-item">
                    <a href="#">Chính sách trả hàng và hoàn tiền</a>
                </div>
            </div>
            <div class="footer-address-logo">
                <a href="#">
                    <div class="footer-address-logo-bg footer-address-logo-registered"></div>
                </a>
                <a href="#">
                    <div class="footer-address-logo-bg footer-address-logo-registered"></div>
                </a>
                <a href="#">
                    <div class="footer-address-logo-bg footer-address-logo-no-fake-item"></div>
                </a>
            </div>
            <h2>Công ty TNHH Shopee</h2>
            <p>Địa chỉ: Tầng 28, Tòa nhà trung tâm Lotte Hà Nội, 54 Liễu Giai, phường Cống Vị, Quận Ba Đình, Hà Nội.
                Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.shopee.vn</p>
            <p>Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015</p>
            <p>© 2015 - Bản quyền thuộc về Công ty TNHH Shopee</p>
        </div>
    </div>
</footer>

<div id="shopee-skinny-banner">
    <a href="#">
        <img src="image/banner/9.png" alt="image"/>
    </a>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>

</body>
</html>
